In [6]:
a = int(input())
for i in range(1, a + 1):
    if (i % 15 == 0):
        print("Fizz Buzz", end="")
    elif (i % 3 == 0):
        print("Fizz", end="")
    elif (i % 5 == 0):
        print("Buzz", end="")
    else:
        print(i, end="")
    if (i != a):
        print(",", end=" ")

15
1, 2, Fizz, 4, Buzz, Fizz, 7, 8, Fizz, Buzz, 11, Fizz, 13, 14, Fizz Buzz

In [13]:
def three_digits(a):
    return a // 100 + a % 10 + (a // 10) % 10

a = int(input())
first = a // 1000
second = a - first * 1000
first_digits = three_digits(first)
i = 0
while (1):
    if (three_digits(second + i) == first_digits):
        print(str(first) + str(second + i))
        break
    elif (three_digits(second - i) == first_digits):
        print(str(first) + str(second - i))
        break
    else:
        i += 1

223700
223700

In [ ]:
n = int(input())
m = int(input())
x = [[i * j for i in range(n)] for j in range(m)

In [1]:
import pandas as pd

In [5]:
kendall = pd.DataFrame()
kendall['ImageType'] = ['Noise', 'Actual', 'Simple', 'Exotic', 'New', 'Color']
kendall['angle'] = [-0.233, -0.257, -0.240, -0.151, -0.423, -0.368]
kendall['l2'] = [-0.228, -0.249, -0.233, -0.097, -0.425, -0.370]
kendall['ciede'] = [-0.286, -0.317, -0.377, -0.156, -0.521, -0.451]

In [6]:
kendall

  ImageType  angle     l2  ciede
0     Noise -0.233 -0.228 -0.286
1    Actual -0.257 -0.249 -0.317
2    Simple -0.240 -0.233 -0.377
3    Exotic -0.151 -0.097 -0.156
4       New -0.423 -0.425 -0.521
5     Color -0.368 -0.370 -0.451

In [7]:
spearman = pd.DataFrame()
spearman['ImageType'] = ['Noise', 'Actual', 'Simple', 'Exotic', 'New', 'Color']
spearman['angle'] = [-0.336, -0.383, -0.335, -0.221, -0.611, -0.544]
spearman['l2'] = [-0.328, -0.370, -0.325, -0.148, -0.612, -0.546]
spearman['ciede'] = [-0.412, -0.470, -0.538, -0.234, -0.729, -0.645]

In [8]:
spearman

  ImageType  angle     l2  ciede
0     Noise -0.336 -0.328 -0.412
1    Actual -0.383 -0.370 -0.470
2    Simple -0.335 -0.325 -0.538
3    Exotic -0.221 -0.148 -0.234
4       New -0.611 -0.612 -0.729
5     Color -0.544 -0.546 -0.645

In [3]:
d = 485 - 1000 + 360 + 160 + 1075 + 1655 + 540 - 1000 + 785 + 270
k = 30 - 1000 - 1420 + 1905 - 1000 - 3000 - 1000 - 1500 - 95 + (35)
e = -1000 + 1500 + 1700 - 500 + 925 - 1500 + 95 - 1000 + 70 - 460
v = 485 + 500 - 640 - 1565 - 2000 + 785 + 2365 + 3000 + 670 + 285

In [4]:
print(d, k, e, v)
print(d+k+e+v)

3330 -7045 -170 3885
0

In [5]:
k+e

-7215